/* http://openweb.eu.org/articles/css_impression/ */


@page { margin: 0cm;}
@page { size: portrait; }


.barcodes td{}

.fiche-break {page-break-after: Always;}

.barcode {margin-bottom:35px; margin-right:30px;}
