/* http://openweb.eu.org/articles/css_impression/ */


@page { margin: 0cm; } ;
@page { size: landscape; } ;


.barcodes td{padding : 14px;}

.barcode {page-break-inside: avoid; margin-bottom:20px;}


/* fiche prêts */
.fiche-break {page-break-after: Always;}

#fiche_pret_entete {}
#fiche_pret_entete img {height:50px;}
#fiche_pret_entete .logo {width:100px; height:100px; text-align:center;}
#fiche_pret_entete .college {font-size:32px; text-align:center;}
#fiche_pret_entete .college_adr {font-size:12px; text-align:center;}
#fiche_pret_entete .fiche {font-size:20px; border:1px solid black; text-align:center; width:90%;}
#fiche_pret_entete .eleve {padding-top:20px;}

#fiche_pret_manuels {margin-top:25px; margin-left:4px; margin-right:4px; text-align:center; font-size:small; border-collapse:collapse;}
#fiche_pret_manuels th {padding:3px 10px 3px 10px; background-color:#CCCCCC; border:1px solid grey;}
#fiche_pret_manuels td {padding:3px 10px 3px 10px; border:1px solid grey;}

#fiche_pret_pied1 {font-size:small; margin-top:25px;width:80%;}
#fiche_pret_arendre {font-size:small; margin-top:15px; float:left; width:90%;}
#fiche_pret_signature {margin-top:15px; width:90%; float:left; width:90%;}
#fiche_pret_pied2 {font-size:small; margin-top:15px; float:left; width:90%;}

/*
#fiche_rendre_manuels {margin-top:25px; padding:4px; text-align:center; font-size:small; border-collapse:collapse;}
#fiche_rendre_manuels th {padding:3px; background-color:#CCCCCC; border:1px solid grey;}
#fiche_rendre_manuels td {padding:3px; border:1px solid grey;}
*/

.tabulation {margin-left:100px;}
