@font-face {
	font-family: ubuntu;
	src: url('Ubuntu-R.ttf');
	/*src: url('SourceSansPro-Regular.ttf');*/
	text-decoration : none;}

	
/*	GENERAL	*/	
body {background-color:#fff; font-family:ubuntu, Verdana, Arial, Helvetica, sans-serif; margin:0; color:#000;}
h3 {	margin : 0px;}
input, textarea, select {border:1px solid #6E6F6A;}
/*input:hover {border:1px solid #FF8E1C; cursor:pointer;}*/
a { text-decoration:none; color:#003C9C;}
table {text-align:center;}
th {background-color:#550055; font-size:1em; padding:5px 0px; color:#fff; text-align:center; vertical-align:middle;}
.searchfield, th>select {color:#000; border-radius:5px;text-align:center; height:25px;}
th>a>.glyphicon {color:#fff; font-size:1.8em; padding-top:10px;}

img {border:0px; vertical-align:middle;}



#target {float :top;	background-color : #FFB938;	border : 1px solid black;	opacity : 0.8;	color : black;	font-size : 16px;	position : fixed;	width : auto;	display:none;	padding : 5px;	z-index:2009;	top : 2px;	left:46%;	box-shadow: 3px 3px 7px #777;}
#target  img{height : 20px;	margin : 0 20px 0 0;}
#targetback {width:100%; height:100%; position:fixed; top:0; left:0px; background-color:black; opacity:.75; color:white; padding:5px; display:none; z-index:2008; text-align:center;}

.logo{background-image:url("../construction/logo.png"); background-repeat:no-repeat;background-size:contain;}


/*	Le menu	*/
#menu {display:block; width:200px; min-height:500px; height:100%; position:fixed; top:0px; background-color:#FAFAFA; padding:5px; overflow-y:auto;overflow-x:hidden;}

/*	Le contenu	*/
#content{background-color:#fff; position:fixed; top:37px; left:210px; min-width:500px; max-width:95%;min-height:500px; height:100%; overflow-y:auto; overflow-x:hidden; border-left:1px solid #B8B8B8;}

.menu-item img{height:20px;}
.menu-item:hover{background-color:#550055; font-weight:900; cursor:pointer; color:#FFFFFF;}
.menu-item-select>a{background-color:#550055; font-weight:900; cursor:pointer; color:#FFFFFF !important;}

.menu-divider{ margin:10px 0 2px 0; padding:5px; font-weight:900; font-size:18px; color:#550055; }
.menu-divider img{height:20px; margin-right:3px;}

.spacer {clear:both; height:50px; min-width:500px;}

/*	Entetes des pages (avec les options dedans)
.entetes { margin-top:-37px; opacity:1; font-size:14px; font-weight:700; padding:6px 15px; border-bottom:solid #B8B8B8 1px; float:top; left:0; position:fixed; width:100%; z-index:10; background-color:#fff;}
.entetes-titre 		{float:left; font-size:14px; opacity:1;}
.entetes-titre img 	{height:24px; margin-left:10px; cursor:pointer;}
.entetes-options 	{float:right; font-size:12px; margin-right:20px;}
.entetes-options .option {float:left; padding:0 3px;}
.entetes-options img {height:24px; cursor:pointer;}
.entetes-options form {margin:0; }
	*/

/* la boite d'aide */
.helpbox {display:none; font-size:11px; border:1px grey solid; padding:5px; position:fixed; top:30px; left:225px; background-color:#E6E6E6; z-index:11; /*box-shadow:1px 5px 10px #888;*/}

/* Les icones en fin de ligne */
.icon{width:20px;}

/*	Le nombre de lignes selectionnées	*/
#nb_selectionnes {display:none; margin-left:10px; font-size:11px; color:#fff;}

/*	Le nombre de lignes affichées	*/
#nb-liste {font-size:11px; color:#fff;}

/*	Le nombre de lignes filtrées	*/
#filtercount {font-size:11px; color:#fff;}
.filter {font-size:11px; color:#000;}

/*	champ invalide dans un formulaire */
.validInfo {font-size:9px; color:red;}

/*	Les grandes tables, comme les salles, marques ...	*/
.bigtable {min-width:950px; background-color:#fff; opacity:1;}
.bigtable td{padding:2px 4px; font-size:11px;border-bottom:1px solid #DCDCDB;}
.bigtable th{font-size:12px ;}

/*	Les tables comme les membres des salles ...	*/
.smalltable {min-width:400px; border:1px solid grey;}
.smalltable td{padding:2px 4px; font-size:11px; border-bottom:1px solid grey;}
.smalltable th{font-size:11px ; background:orange;}

/*	Les tables des formulaires de création, modif ...	*/
.formtable {text-align:left;}
.formtable td{padding:2px 20px; font-size:1.1em;}

/*	couleur d'une ligne selectionnée	*/
.selected>tbody>tr>td {	background-color : #7EEF9F !important;}

/*	Cette classe ajoute la coloration une ligne sur deux	*/
.alternate>tbody>tr:nth-child(odd)>td{background-color : #D9DBDC;}
.alternate>tbody>tr:nth-child(even)>td{background-color : #fff;}
/*	Si cette classe est ajoutée à la classe de la table, il y a effet de surlignage	*/
.hover>tbody>tr:hover>td, .hover>tbody>tr:hover>td>a>span {background-color:#550055 !important; color:#eeeeee;}


/*Le titre du libre lors de l'ajout des exemplaires*/
.manuelTitre{font-size:11px; color:grey;}

/* page des prêts */
#exeREF {font-size:24px; margin-bottom:20px;}
#fiche{font-size:24px; margin-bottom:20px; border:1px solid black; max-width:550px; padding:20px;background:#D9DBDC;}
#exemplaires_liste img {border:0px; vertical-align:middle; height:15px; margin-top:-5px; margin-left:5px;}
.selectClasse, .selectUser {font-size:20px; margin-bottom:10px;float:left;}

/* les boutons à ne montrer que sur selection */
.actionselect{display:none;}

/* etats */
.neuf {background:#8AD6FF !important;}
.bon {background:#10BB10 !important; color:#fff;}
.moyen {background:#FFA500 !important;}
.passable {background:#FFFF00 !important;}
.perdu {background:#000 !important; color:#fff;}



/* fiche prêts */
#fiche_pret_entete {}
#fiche_pret_entete img {height:50px;}
#fiche_pret_entete .logo {width:100px; height:100px; text-align:center;}
#fiche_pret_entete .college {font-size:32px; text-align:center;}
#fiche_pret_entete .college_adr {font-size:12px; text-align:center;}
#fiche_pret_entete .fiche {font-size:20px; border:1px solid black; text-align:center; width:90%;}
#fiche_pret_entete .eleve {padding-top:20px;}

#fiche_pret_manuels {margin-top:25px; padding:4px; text-align:center; font-size:small; border-collapse:collapse;}
#fiche_pret_manuels th {padding:3px 10px 3px 10px; background-color:#CCCCCC; border:1px solid grey;}
#fiche_pret_manuels td {padding:3px 10px 3px 10px; border:1px solid grey;}

#fiche_pret_pied1 {font-size:small; margin-top:25px;width:80%;}
#fiche_pret_arendre {font-size:small; margin-top:15px; float:left; width:90%;}
#fiche_pret_signature {margin-top:15px; width:90%; float:left; width:90%;}
#fiche_pret_pied2 {font-size:small; margin-top:15px; float:left; width:90%;}

.tabulation {margin-left:100px;}


/*******************************************/



/*		BOOTSTRAP	*/

/* navbar */
.navbar{padding-right:20px; background-color:#550055;}
.navbar a {color:#fff !important; font-size:1.2em;}
.navbar-brand {background-image:url('../construction/logo.png'); background-repeat:no-repeat; background-size:contain; margin:3px !important; width:140px;}
.navbar-form{margin-bottom:0;}


.navbar-title {font-size:1.7em; font-weight:900; margin:10px 0px 0px 20px; color:#fff;}

/* sidebar */
#toggle-sidebar {position:fixed; top:60px; left:4px; width:20px; height:20px; z-index:3000; font-size:1.1em; color:#550055 !important;}
#sidebar-wrapper {top:51px; background-color:#fff;}

.table-icon {font-size:20px; color:black;}
.color-red {color:#B80001;}
.color-blue {color:#00158A;}
.color-green {color:#008A01;}


/* Dialog ui (les boite de dialogue jquery) */
.ui-dialog-titlebar{border-radius:0px;}
.ui-dialog{border-radius:0px; box-shadow: 10px 10px 66px 0px rgba(0,0,0,0.75) !important;}
