<!-- Tufts VUE 3.1.2 concept-map (MCD.vue) 2013-09-07 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/D:/DATA/DOWNLOADS/_apps/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Sat Sep 07 15:08:33 CEST 2013 by dividi on platform Windows 7 6.1 in JVM 1.7.0_25-b17 -->
<!-- Do Not Remove: Saving version @(#)VUE: built March 8 2012 at 1310 by vue on Linux 2.4.21-63.EL i386 JVM 1.5.0_06-b05(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0" label="MCD.vue"
    created="1378550013831" x="0.0" y="0.0" width="1.4E-45"
    height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1378559317127"
        spec="D:\DATA\DEV\php\glcd\MCD.vue" type="1" xsi:type="URLResource">
        <title>MCD.vue</title>
        <property key="File" value="D:\DATA\DEV\php\glcd\MCD.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <metadata-list category-list-size="1" RCategoryListSize="0"
        ontology-list-size="0" other-list-size="0">
        <ontology-list-string></ontology-list-string>
        <metadata xsi:type="vue-metadata-element">
            <value></value>
            <key>http://vue.tufts.edu/vue.rdfs#none</key>
            <type>1</type>
        </metadata>
    </metadata-list>
    <URIString>http://vue.tufts.edu/rdf/resource/f889d4b5c0a80012001cbaafcfbb26a6</URIString>
    <child ID="10" label="MANUELS" layerID="1" created="1378550986917"
        x="196.0" y="300.0" width="79.0" height="147.5"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#C1F780</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <metadata-list category-list-size="1" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
            <metadata xsi:type="vue-metadata-element">
                <value></value>
                <key>http://vue.tufts.edu/vue.rdfs#none</key>
                <type>1</type>
            </metadata>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4b7c0a80012001cbaaf01038a6d</URIString>
        <child ID="11" label="#manuelID" created="1378550999469" x="5.0"
            y="23.0" width="72.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4b8c0a80012001cbaafe7c951c8</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="13" label="manuelNiveau" created="1378551154699"
            x="5.0" y="43.25" width="91.0" height="23.0"
            strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4bec0a80012001cbaaf9667df0a</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="16" label="manuelTitre" created="1378551155748"
            x="5.0" y="63.5" width="77.0" height="23.0"
            strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4bfc0a80012001cbaaf3978ff52</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="15" label="manuelEdition" created="1378551155499"
            x="5.0" y="83.75" width="91.0" height="23.0"
            strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4c1c0a80012001cbaaf0c3b2009</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="49" label="matiereID" created="1378558355180" x="5.0"
            y="104.0" width="65.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4c2c0a80012001cbaaf5c51dac8</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="17" label="editeurID" created="1378551155985" x="5.0"
            y="124.25" width="61.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4c3c0a80012001cbaafb3112696</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="18" label="UTILISATEURS" layerID="1"
        created="1378551255290" x="652.125" y="318.375" width="93.0"
        height="127.25" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#C1F780</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <metadata-list category-list-size="1" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
            <metadata xsi:type="vue-metadata-element">
                <value></value>
                <key>http://vue.tufts.edu/vue.rdfs#none</key>
                <type>1</type>
            </metadata>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4c4c0a80012001cbaaf99df9c5e</URIString>
        <child ID="14" label="#userID" created="1378551154916" x="5.0"
            y="23.0" width="55.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4c5c0a80012001cbaaf7afd8850</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="12" label="userNom" created="1378551153755" x="5.0"
            y="43.25" width="63.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4c6c0a80012001cbaaf330d49b6</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="26" label="userPrenom" created="1378551308654"
            x="5.0" y="63.5" width="80.0" height="23.0"
            strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4c7c0a80012001cbaaf902d0163</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="25" label="userNaissance" created="1378551308052"
            x="5.0" y="83.75" width="96.0" height="23.0"
            strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4c8c0a80012001cbaaf3360d8d4</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="27" label="classeID" created="1378551308850" x="5.0"
            y="104.0" width="60.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4c9c0a80012001cbaafe56d2489</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="36" label="EXEMPLAIRES" layerID="1"
        created="1378551394589" x="403.5" y="259.875" width="92.0"
        height="86.75" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#C1F780</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <metadata-list category-list-size="1" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
            <metadata xsi:type="vue-metadata-element">
                <value></value>
                <key>http://vue.tufts.edu/vue.rdfs#none</key>
                <type>1</type>
            </metadata>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4cac0a80012001cbaafd7287a49</URIString>
        <child ID="30" label="#exeID" created="1378551309424" x="5.0"
            y="23.0" width="49.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4d2c0a80012001cbaaff0c84fd8</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="34" label="exeEtat" created="1378551310193" x="5.0"
            y="43.25" width="51.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4d4c0a80012001cbaafed313508</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="32" label="manuelID" created="1378551309809" x="5.0"
            y="63.5" width="65.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4d4c0a80012001cbaaf8e061d9e</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="38" label="MATIERES" layerID="1" created="1378551396893"
        x="435.5" y="472.875" width="70.75" height="66.5"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#C1F780</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <metadata-list category-list-size="1" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
            <metadata xsi:type="vue-metadata-element">
                <value></value>
                <key>http://vue.tufts.edu/vue.rdfs#none</key>
                <type>1</type>
            </metadata>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4d5c0a80012001cbaafc264cc78</URIString>
        <child ID="35" label="#matiereID" created="1378551310377"
            x="5.0" y="23.0" width="72.0" height="23.0"
            strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4d6c0a80012001cbaaf9a281e38</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="39" label="matiereNom" created="1378551396893"
            x="5.0" y="43.25" width="80.0" height="23.0"
            strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4d7c0a80012001cbaaf175d4386</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="41" label="issu&#xa;(0,n) (1,1)" layerID="1"
        created="1378551516214" x="254.5" y="317.81488" width="154.5"
        height="28.0" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="0" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <metadata-list category-list-size="1" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
            <metadata xsi:type="vue-metadata-element">
                <value></value>
                <key>http://vue.tufts.edu/vue.rdfs#none</key>
                <type>1</type>
            </metadata>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4d8c0a80012001cbaaf0be9d524</URIString>
        <point1 x="408.5" y="331.95538"/>
        <point2 x="255.0" y="331.6744"/>
        <ID1 xsi:type="node">32</ID1>
        <ID2 xsi:type="node">11</ID2>
    </child>
    <child ID="50" label="EDITEURS" layerID="1" created="1378558403579"
        x="20.5" y="402.875" width="67.75" height="66.5"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#C1F780</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <metadata-list category-list-size="1" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
            <metadata xsi:type="vue-metadata-element">
                <value></value>
                <key>http://vue.tufts.edu/vue.rdfs#none</key>
                <type>1</type>
            </metadata>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4d8c0a80012001cbaafe8658fe1</URIString>
        <child ID="48" label="#editeurID" created="1378558322445"
            x="5.0" y="23.0" width="68.0" height="23.0"
            strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4d9c0a80012001cbaaf14af9725</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="47" label="editeurNom" created="1378558322250"
            x="5.0" y="43.25" width="76.0" height="23.0"
            strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4dac0a80012001cbaaf19988e79</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="52" label="edite&#xa;(0,n) (1,1)" layerID="1"
        created="1378558446943" x="76.0" y="419.67517" width="125.5"
        height="28.0" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="0" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <metadata-list category-list-size="1" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
            <metadata xsi:type="vue-metadata-element">
                <value></value>
                <key>http://vue.tufts.edu/vue.rdfs#none</key>
                <type>1</type>
            </metadata>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4dbc0a80012001cbaaffda1cb71</URIString>
        <point1 x="76.5" y="434.2603"/>
        <point2 x="201.0" y="433.09003"/>
        <ID1 xsi:type="node">48</ID1>
        <ID2 xsi:type="node">17</ID2>
    </child>
    <child ID="53" label="enseigne&#xa;(1,1) (0,n)" layerID="1"
        created="1378558552216" x="245.16724" y="419.82495"
        width="201.22443" height="76.97571" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="0" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <metadata-list category-list-size="1" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
            <metadata xsi:type="vue-metadata-element">
                <value></value>
                <key>http://vue.tufts.edu/vue.rdfs#none</key>
                <type>1</type>
            </metadata>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4dcc0a80012001cbaaf98f28c64</URIString>
        <point1 x="245.66724" y="420.32495"/>
        <point2 x="445.89166" y="496.30066"/>
        <ID1 xsi:type="node">49</ID1>
        <ID2 xsi:type="node">35</ID2>
    </child>
    <child ID="56" label="CLASSES" layerID="1" created="1378558705493"
        x="884.625" y="396.75" width="75.25" height="86.75"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#C1F780</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <metadata-list category-list-size="1" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
            <metadata xsi:type="vue-metadata-element">
                <value></value>
                <key>http://vue.tufts.edu/vue.rdfs#none</key>
                <type>1</type>
            </metadata>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4ddc0a80012001cbaaf6dfed147</URIString>
        <child ID="57" label="#classeID" created="1378558705494" x="5.0"
            y="23.0" width="67.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4ddc0a80012001cbaaf68c59ec4</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="58" label="classeNiveau" created="1378558705494"
            x="5.0" y="43.25" width="86.0" height="23.0"
            strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4dec0a80012001cbaaf605cbc56</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="44" label="classeNom" created="1378558321547" x="5.0"
            y="63.5" width="75.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4dfc0a80012001cbaaf37a34ee4</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="59" label="regroupe&#xa;(1,1) (0,n)" layerID="1"
        created="1378558773063" x="701.625" y="415.70215" width="188.5"
        height="28.0" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="0" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <metadata-list category-list-size="1" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
            <metadata xsi:type="vue-metadata-element">
                <value></value>
                <key>http://vue.tufts.edu/vue.rdfs#none</key>
                <type>1</type>
            </metadata>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4e0c0a80012001cbaaf0da1a521</URIString>
        <point1 x="702.125" y="430.7488"/>
        <point2 x="889.625" y="428.65552"/>
        <ID1 xsi:type="node">27</ID1>
        <ID2 xsi:type="node">57</ID2>
    </child>
    <child ID="60" label="PRETS" layerID="1" created="1378558856507"
        x="546.375" y="92.625" width="59.5" height="127.25"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#C1F780</fillColor>
        <strokeColor>#776D6D</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-12</font>
        <metadata-list category-list-size="1" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
            <metadata xsi:type="vue-metadata-element">
                <value></value>
                <key>http://vue.tufts.edu/vue.rdfs#none</key>
                <type>1</type>
            </metadata>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4e1c0a80012001cbaaff17e4a43</URIString>
        <child ID="61" label="#pretID" created="1378558856507" x="5.0"
            y="23.0" width="51.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4e2c0a80012001cbaaf1a8d6dd5</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="63" label="pretDebut" created="1378558856507" x="5.0"
            y="43.25" width="65.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4e3c0a80012001cbaafd2be64d8</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="62" label="pretFin" created="1378558856507" x="5.0"
            y="63.5" width="49.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4e4c0a80012001cbaafb23f7d1f</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="46" label="userID" created="1378558322034" x="5.0"
            y="83.75" width="48.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4e4c0a80012001cbaaf8bccf84e</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <child ID="45" label="exeID" created="1378558321803" x="5.0"
            y="104.0" width="42.0" height="23.0" strokeWidth="1.0"
            autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#00000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <metadata-list category-list-size="1" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
                <metadata xsi:type="vue-metadata-element">
                    <value></value>
                    <key>http://vue.tufts.edu/vue.rdfs#none</key>
                    <type>1</type>
                </metadata>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4e5c0a80012001cbaaffe09f987</URIString>
            <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
        </child>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="64" label="prete" layerID="1" created="1378559019813"
        x="444.75" y="209.81332" width="108.40143" height="83.65088"
        strokeWidth="1.0" autoSized="false" controlCount="2"
        arrowState="0" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <metadata-list category-list-size="1" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
            <metadata xsi:type="vue-metadata-element">
                <value></value>
                <key>http://vue.tufts.edu/vue.rdfs#none</key>
                <type>1</type>
            </metadata>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4e6c0a80012001cbaaf61935c8a</URIString>
        <point1 x="445.25" y="292.52133"/>
        <point2 x="552.6514" y="210.31332"/>
        <ID1 xsi:type="node">30</ID1>
        <ID2 xsi:type="node">45</ID2>
        <ctrlPoint0 x="610.7382" y="301.7195" xsi:type="point"/>
        <ctrlPoint1 x="459.65533" y="242.84634" xsi:type="point"/>
    </child>
    <child ID="65" label="possede" layerID="1" created="1378559025552"
        x="587.2571" y="129.69055" width="74.21912" height="222.54022"
        strokeWidth="1.0" autoSized="false" controlCount="2"
        arrowState="0" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <metadata-list category-list-size="1" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
            <metadata xsi:type="vue-metadata-element">
                <value></value>
                <key>http://vue.tufts.edu/vue.rdfs#none</key>
                <type>1</type>
            </metadata>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4e7c0a80012001cbaaf649aac89</URIString>
        <point1 x="657.24725" y="351.73077"/>
        <point2 x="587.7571" y="130.19055"/>
        <ID1 xsi:type="node">14</ID1>
        <ID2 xsi:type="node">61</ID2>
        <ctrlPoint0 x="598.69586" y="356.67343" xsi:type="point"/>
        <ctrlPoint1 x="692.906" y="166.38684" xsi:type="point"/>
    </child>
    <child ID="66" label="MCD pour GLCD" layerID="1"
        created="1378559154798" x="25.0" y="4.0" width="336.0"
        height="52.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
        <strokeColor>#404040</strokeColor>
        <textColor>#000000</textColor>
        <font>-plain-42</font>
        <metadata-list category-list-size="1" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
            <metadata xsi:type="vue-metadata-element">
                <value></value>
                <key>http://vue.tufts.edu/vue.rdfs#none</key>
                <type>1</type>
            </metadata>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4e8c0a80012001cbaaf4472ddf4</URIString>
        <richText>&lt;html&gt;
  &lt;head style="color: #404040" color="#404040"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #404040; margin-bottom: 0px; margin-left: 0px; font-family: Arial; margin-right: 0px; margin-top: 0px; font-size: 11 }
        ol { vertical-align: middle; margin-left: 30; font-family: Arial; list-style-position: outside; margin-top: 6; font-size: 11 }
        p { color: #404040; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0 }
        ul { vertical-align: middle; margin-left: 30; font-family: Arial; list-style-position: outside; margin-top: 6; font-size: 11 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p style="color: #404040" color="#404040"&gt;
      &lt;font style="font-size:42;"&gt;MCD pour GLCD&lt;/font&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
        <label>MCD pour GLCD</label>
    </child>
    <child ID="68" label="07 09 2013" layerID="1"
        created="1378559260536" x="27.0" y="65.0" width="150.0"
        height="18.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
        <strokeColor>#404040</strokeColor>
        <textColor>#000000</textColor>
        <font>SansSerif-plain-14</font>
        <metadata-list category-list-size="1" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
            <metadata xsi:type="vue-metadata-element">
                <value></value>
                <key>http://vue.tufts.edu/vue.rdfs#none</key>
                <type>1</type>
            </metadata>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4e9c0a80012001cbaafd9c840af</URIString>
        <richText>&lt;html&gt;
  &lt;head&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-bottom: 0px; margin-left: 0px; font-family: Arial; margin-right: 0px; margin-top: 0px; font-size: 12 }
        ol { vertical-align: middle; margin-left: 30; font-family: Arial; list-style-position: outside; margin-top: 6; font-size: 12 }
        p { color: #000000; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0 }
        ul { vertical-align: middle; margin-left: 30; font-family: Arial; list-style-position: outside; margin-top: 6; font-size: 12 }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p style="color: #000000" color="#000000"&gt;
      07 09 2013
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
        <label>07 09 2013</label>
    </child>
    <layer ID="1" label="Layer 1" created="1378550013926" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <metadata-list category-list-size="0" RCategoryListSize="0"
            ontology-list-size="0" other-list-size="0">
            <ontology-list-string></ontology-list-string>
        </metadata-list>
        <URIString>http://vue.tufts.edu/rdf/resource/f889d4eac0a80012001cbaaff65e85de</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-12.0" y="-12.0"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="-1" revealerIndex="-1">
        <pathway ID="0" label="Chemin sans nom" created="1378550013827"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="-1" open="true">
            <strokeColor>#B3993333</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <metadata-list category-list-size="0" RCategoryListSize="0"
                ontology-list-size="0" other-list-size="0">
                <ontology-list-string></ontology-list-string>
            </metadata-list>
            <URIString>http://vue.tufts.edu/rdf/resource/f889d4ebc0a80012001cbaaf3336d3eb</URIString>
            <masterSlide ID="2" created="1378550013969" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <metadata-list category-list-size="0"
                    RCategoryListSize="0" ontology-list-size="0" other-list-size="0">
                    <ontology-list-string></ontology-list-string>
                </metadata-list>
                <URIString>http://vue.tufts.edu/rdf/resource/f889d4ebc0a80012001cbaaf8783c4e8</URIString>
                <titleStyle ID="3" label="Header"
                    created="1378550017610" x="335.5" y="172.5"
                    width="129.0" height="55.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <metadata-list category-list-size="0"
                        RCategoryListSize="0" ontology-list-size="0" other-list-size="0">
                        <ontology-list-string></ontology-list-string>
                    </metadata-list>
                    <URIString>http://vue.tufts.edu/rdf/resource/f889d4ecc0a80012001cbaaf0faadf30</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1378550017612" x="346.5" y="281.5"
                    width="107.0" height="37.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <metadata-list category-list-size="0"
                        RCategoryListSize="0" ontology-list-size="0" other-list-size="0">
                        <ontology-list-string></ontology-list-string>
                    </metadata-list>
                    <URIString>http://vue.tufts.edu/rdf/resource/f889d4edc0a80012001cbaaf62c445c0</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1378550017614"
                    x="373.5" y="384.0" width="53.0" height="32.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <metadata-list category-list-size="0"
                        RCategoryListSize="0" ontology-list-size="0" other-list-size="0">
                        <ontology-list-string></ontology-list-string>
                    </metadata-list>
                    <URIString>http://vue.tufts.edu/rdf/resource/f889d4edc0a80012001cbaafaa54970c</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2013-09-07</date>
    <mapFilterModel/>
    <modelVersion>5</modelVersion>
    <saveLocation>D:\DATA\DEV\php\glcd</saveLocation>
    <saveFile>D:\DATA\DEV\php\glcd\MCD.vue</saveFile>
</LW-MAP>
